<div>
    <a href="#" class="header-icon" data-toggle="dropdown" >
        <i class="fal fa-bell"></i>
        <span class="badge badge-icon notifCount">0</span>
    </a>
    <div class="dropdown-menu dropdown-menu-animated dropdown-xl">
        <div class="dropdown-header bg-trans-gradient d-flex justify-content-center align-items-center rounded-top mb-2">
            <h4 class="m-0 text-center color-white">
                <span class="notifCount">1</span> Pesan
                <small class="mb-0 opacity-80">User Notifications</small>
            </h4>
        </div>
        <ul class="nav nav-tabs nav-tabs-clean" role="tablist">
            <li class="nav-item">
                <a class="nav-link px-4 fs-md js-waves-on fw-500" data-toggle="tab" href="#tab-messages" data-i18n="drpdwn.messages">Verifikasi</a>
            </li>
        </ul>
        <div class="tab-content tab-notification userNotif">
            
        </div>
        <div class="py-2 px-3 bg-faded d-block rounded-bottom text-right border-faded border-bottom-0 border-right-0 border-left-0">
            <a href="#" id="AllNotification" class="fs-xs fw-500 ml-auto">lihat semua notifikasi</a>
        </div>
    </div>
</div>
