<title>@ViewBag.Title - Pesapa Kawan</title>
<meta name="author" content="Rangga">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="keywords" content="Sistem PKM DLH, PKM, Pengelolaan Kawasan Mandiri, DLH">
<meta name="description" content="Sistem PKM Dinas Lingkungan Hidup Provinsi DKI Jakarta">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Stylesheets
============================================= -->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&display=swap" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="~/web/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="~/web/css/style.css" type="text/css" />
<link rel="stylesheet" href="~/web/css/swiper.css" type="text/css" />
<link rel="stylesheet" href="~/web/css/dark.css" type="text/css" />
<link rel="stylesheet" href="~/web/css/font-icons.css" type="text/css" />
<link rel="stylesheet" href="~/web/css/animate.css" type="text/css" />
<link rel="stylesheet" href="~/web/css/magnific-popup.css" type="text/css" />

<link rel="stylesheet" href="~/web/css/custom.css" type="text/css" />

<link rel="icon" type="image/png" sizes="32x32" href="~/img/logo-dinas.ico" />