<title>@ViewBag.Title - PKM Dinas Lingkungan Hidup DKI Jakarta</title>
<meta name="author" content="Rangga">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="keywords" content="System PKM Dinas Lingkungan Hidup Provinsi DKI Jakarta">
<meta name="description" content="PKM - Dinas Lingkungan Hidup DKI Jakarta">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800%7CPoppins:300i,400,700,400i,500" rel="stylesheet">

<!-- CSS Files -->
<link rel="stylesheet" href="~/assets/css/animate.css" />

<!-- Owl Carousel Assets -->
<link href="~/assets/css/owl.carousel.css" rel="stylesheet" />
<link href="~/assets/css/owl.theme.css" rel="stylesheet">

<link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/assets/css/style.css" />
<link rel="stylesheet" href="~/assets/css/colors/color-2.css" />
<link rel="stylesheet" href="~/assets/css/elegant_icon.css" />


<!-- REVOLUTION STYLE SHEETS -->
<link rel="stylesheet" type="text/css" href="~/assets/revslider/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
<link rel="stylesheet" type="text/css" href="~/assets/revslider/fonts/font-awesome/css/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="~/assets/revslider/css/settings.css">
<!-- REVOLUTION LAYERS STYLES -->
    <style type="text/css">
    .hermes.tp-bullets {}

    .hermes .tp-bullet {
        overflow: hidden;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        background-color: rgba(0, 0, 0, 0);
        box-shadow: inset 0 0 0 2px rgb(255, 58, 45);
        -webkit-transition: background 0.3s ease;
        transition: background 0.3s ease;
        position: absolute
    }

    .hermes .tp-bullet:hover {
        background-color: rgba(230, 80, 139, 1)
    }

    .hermes .tp-bullet:after {
        content: ' ';
        position: absolute;
        bottom: 0;
        height: 0;
        left: 0;
        width: 100%;
        background-color: rgb(255, 58, 45);
        box-shadow: 0 0 1px rgb(255, 58, 45);
        -webkit-transition: height 0.3s ease;
        transition: height 0.3s ease
    }

    .hermes .tp-bullet.selected:after {
        height: 100%
    }

</style>
