<footer class="padding-top-30px background-dark" style="margin-bottom:-17px;">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 sm-mb-30px wow fadeInUp">
				<div class="logo margin-bottom-10px"><img src="/img/weblink/logoPKM.png" alt=""></div>
				<div class="text-grey-2  font-weight-300">Dinas Lingkungan Hidup <br>Provinsi DKI Jakarta</div>
				<ul class="list-inline text-left margin-tb-20px margin-lr-0px text-white">
					<li class="list-inline-item"><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
					<li class="list-inline-item"><a class="youtube" href="#"><i class="fab fa-youtube"></i></a></li>
					<li class="list-inline-item"><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
					<li class="list-inline-item"><a class="google" href="#"><i class="fab fa-google-plus"></i></a></li>
					<li class="list-inline-item"><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
					<li class="list-inline-item"><a class="rss" href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
				</ul>
				<!-- // Social -->
			</div>

			@* <div class="col-lg-3  col-md-6 sm-mb-30px wow fadeInUp" data-wow-delay="0.2s">
				<ul class="last-posts margin-0px padding-0px">
					<li>
						<a href="#" class="float-left margin-right-15px d-block width-50px"><img src="http://placehold.it/400x400" alt=""></a>
						<a href="#" class="d-block text-capitalize text-grey-2">Usaha / Kegiatan</a>
						<span class="text-extra-small text-grey-3">Date :  <a href="#" class="text-grey-3">{{date('Y-m-d')}}</a></span>
						<hr class="border-grey-4">
						<div class="clearfix"></div>
					</li>
					<li>
						<a href="#" class="float-left margin-right-15px d-block width-50px"><img src="http://placehold.it/400x400" alt=""></a>
						<a href="#" class="d-block  text-capitalize text-grey-2">Penyedia Jasa</a>
						<span class="text-extra-small text-grey-3">Date :  <a href="#" class="text-grey-3">{{date('Y-m-d')}}</a></span>
						<div class="clearfix"></div>
					</li>
				</ul>
			</div> *@
            
			<div class="col-lg-6  col-md-6 sm-mb-30px wow fadeInUp" data-wow-delay="0.4s">
				<ul class="footer-menu-2 row margin-0px padding-0px list-unstyled">
                    <li class="col-6  padding-tb-5px"><a href="#" class="text-grey-2">Beranda</a></li>
                    <li class="col-6  padding-tb-5px"><a href="#" class="text-grey-2">Contact Us</a></li>
					<li class="col-6  padding-tb-5px"><a href="#" class="text-grey-2">Usaha / Kegiatan</a></li>
					<li class="col-6  padding-tb-5px"><a href="#" class="text-grey-2">Dashboard Jasa</a></li>
					<li class="col-6  padding-tb-5px"><a href="#" class="text-grey-2">Penyedia Jasa Pengangkutan</a></li>
                    <li class="col-6  padding-tb-5px"><a href="#" class="text-grey-2">Penyedia Jasa Pengolahan</a></li>
                    <li class="col-6  padding-tb-5px"><a href="#" class="text-grey-2">Registrasi PKM</a></li>
                    <li class="col-6  padding-tb-5px"><a href="#" class="text-grey-2">Login</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-6 sm-mb-30px wow fadeInUp" data-wow-delay="0.6s">
				<ul class="images-feed row no-gutters margin-0px padding-0px list-unstyled">
					<li class="col-4 padding-tb-5px">
						<a href="#" class="padding-lr-5px hvr-bounce-out d-block"><img src="/img/weblink/logo-dlh.png" alt=""></a>
					</li>
					<li class="col-4 padding-tb-5px">
						<a href="#" class="padding-lr-5px hvr-bounce-out d-block"><img src="/img/weblink/logoUPST.png" alt=""></a>
					</li>
					<li class="col-4 padding-tb-5px">
						<a href="#" class="padding-lr-5px hvr-bounce-out d-block"><img src="/img/weblink/logo_dki.png" alt=""></a>
					</li>
					<li class="col-4 padding-tb-5px">
						<a href="#" class="padding-lr-5px hvr-bounce-out d-block"><img src="/img/weblink/logo_klhk.png" alt=""></a>
					</li>
					<li class="col-4 padding-tb-5px">
						<a href="#" class="padding-lr-5px hvr-bounce-out d-block"><img src="/img/weblink/logoaja-jsc.png" alt=""></a>
					</li>
					<li class="col-4 padding-tb-5px">
						<a href="#" class="padding-lr-5px hvr-bounce-out d-block"><img src="/img/weblink/upk.png" alt=""></a>
					</li>
				</ul>
			</div>

		</div>
		<hr class="border-grey-4">
	</div>
</footer>