@model RegAngkutModel

@{
    Layout = "_RegNew";
    ViewBag.Title = "Jasa Angkutan";
}

@section styles {
    <link rel="stylesheet" media="screen, print" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/css/datagrid/datatables/datatables.bundle.css" />
    <link rel="stylesheet" media="screen, print" href="~/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" media="screen, print" href="~/css/formplugins/dropzone/dropzone.css">
    <link rel="stylesheet" media="screen, print" href="~/css/addon.css" />
}

<div class="row">
    <div class="col-xl-4">
        <div id="panel-1" class="panel">
            <div class="panel-hdr bg-primary-700 bg-success-gradient" role="heading">
                <h2>Perizinan &amp; Data</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <form id="clientform" action="/clients/register/angkut/save" method="post">
                        <input type="hidden" asp-for="IzinAngkut.IzinAngkutId" >
                        <input type="hidden" asp-for="IzinAngkut.UniqueId" class="myUID" />
                        <div asp-validation-summary="All"></div>
                        <div class="form-group">
                            <label for="">No. Izin Usaha yang diterbitkan oleh PTSP *</label>
                            <input type="text" asp-for="IzinAngkut.NoIzinUsaha" class="form-control datainput" required autocomplete="off">
                        </div>
                        <div class="form-group">                            
                            <label for="">Jumlah Kendaraan Berizin</label>
                            <input type="number" asp-for="IzinAngkut.JmlAngkutan" id="txtJmlAngkut" class="form-control" autocomplete="off">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 col-xs-12">
                                <label for="">Tanggal Penerbitan Izin *</label>
                                <div class="input-group flex-nowrap">
                                    <input type="text" asp-for="TglAwal" id="txtTglTerbit" class="form-control datepicker datainput" required autocomplete="off" />
                                    <div class="input-group-append">
                                        <span class="input-group-text fs-xl">
                                            <i class="fal fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-xs-12">
                                <label for="">Masa Berakhir Izin *</label>
                                <div class="input-group flex-nowrap">
                                    <input type="text" asp-for="TglAkhir" id="tglAkhirIzin" class="form-control datepicker datainput" required autocomplete="off" >
                                    <div class="input-group-append">
                                        <span class="input-group-text fs-xl">
                                            <i class="fal fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            @*<div class="form-group col-md-4 col-xs-12">
                                <label for="">No. Induk Berusaha (NIB) *</label>
                                <input type="text" asp-for="DetailAngkut.NIB" class="form-control" required autocomplete="off" >
                            </div>*@
                        </div>
                        <hr style="border-top: 1px dotted grey;">

                        <div class="form-row">
                            <div class="form-grop col-md-12 col-xs-12">
                                <label for="">Upload Dokumen Izin</label>
                                <div id="fileIzin" class="dropzone needsclick">
                                    <div class="dz-message needsclick">
                                        <i class="fal fa-cloud-upload text-muted mb-3"></i> <br>
                                        <span>Drop file disini atau Klik Untuk Upload.</span>
                                    </div>
                                </div>
                            </div>
                            @*<div class="form-grop col-md-6 col-xs-12">
                                <label for="">Upload NIB</label>
                                <div id="fileNIB" class="dropzone needsclick">
                                    <div class="dz-message needsclick">
                                        <i class="fal fa-cloud-upload text-muted mb-3"></i> <br>
                                        <span>Drop file disini atau Klik Untuk Upload.</span>
                                    </div>
                                </div>
                            </div>*@
                        </div>

                        <hr style="border-top: 1px dotted grey;">

                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-success">Tambah Izin</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8">
        <div id="panel-2" class="panel">
            <div class="panel-hdr bg-primary-700 bg-warning-gradient" role="heading">
                <h2>Daftar Perizinan</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <table id="tblData" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>No Izin Usaha</th>
                                <th>Jml Kendaraan</th>
                                <th>Masa Berakhir</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button id="nextBtn" class="btn btn-danger">Berikutnya</button>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/lib/uuid/uuid.js"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/js/formplugins/dropzone/dropzone.js"></script>
    <script src="~/js/pages/auth/regangkut.js"></script>
}