@{
    Layout = "_RegNew";
    ViewBag.Title = "Menunggu Verifikasi";
}

<div class="text-center" style="margin-top: 100px;">
    <h4>
        Terima Kasih, akun anda bisa diakses setelah admin memverifikasi dokumen anda
    </h4>
    <a href="/" class="btn btn-success">Kembali ke Beranda</a>
</div>