@model KendaraanCreateVM

<form asp-controller="KendaraanAngkut" asp-action="StoreKendaraan" method="post" class="vehicleForm" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @*<input type="hidden" asp-for="IzinID" />*@
    <div class="modal-header bg-primary-700 bg-success-gradient">
        <h4 class="modal-title">Tambah SPJ</h4>
        <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        <div class="form-row">
            <div class="form-group col-md-6 col-xs-12">
                <label for="">Tanggal SPJ <span class="text-danger">*</span></label>
                <div class="input-group flex-nowrap">
                    <input type="text" asp-for="TglBerlakuSTNK" class="form-control datepicker" required>
                    <div class="input-group-append">
                        <span class="input-group-text fs-xl">
                            <i class="fal fa-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6 col-xs-12">
                <label>Lokasi Sumber <span class="text-danger">*</span></label>
                <select asp-for="Kendaraan.TipeKendaraanID" class="form-control " id="sSumber" required></select>
            </div>
        </div>
        <div class="form-group">
            <label><b>Total Sampah yang Masuk/Diangkut ke TPS atau TPS 3R <span class="text-danger">0</span></b></label>
            <div class="form-row">
                <div class="form-group col-md-3 col-xs-12">
                    <label>Mudah Terurai <span class="text-danger">*</span></label>
                     <input type="text"  class="form-control ">
                </div>
                <div class="form-group col-md-3 col-xs-12">
                    <label>Daur Ulang <span class="text-danger">*</span></label>
                     <input type="text"  class="form-control ">
                </div>
                <div class="form-group col-md-3 col-xs-12">
                    <label>Sampah B3 <span class="text-danger">*</span></label>
                     <input type="text"  class="form-control ">
                </div>
                <div class="form-group col-md-3 col-xs-12">
                    <label>Residu <span class="text-danger">*</span></label>
                     <input type="text"  class="form-control ">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label><b>Pengolahan Sampah <span class="text-danger">0</span></b></label>
            <div class="form-row">
                <div class="form-group col-md-4 col-xs-12">
                    <label>Mudah Terurai <span class="text-danger">*</span></label>
                    <input type="text" class="form-control ">
                </div>
                <div class="form-group col-md-4 col-xs-12">
                    <label>Daur Ulang <span class="text-danger">*</span></label>
                    <input type="text" class="form-control ">
                </div>
                <div class="form-group col-md-4 col-xs-12">
                    <label>Residu <span class="text-danger">*</span></label>
                    <input type="text" class="form-control ">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 col-xs-12">
                <label>Nama Penyedia <span class="text-danger">*</span></label>
                <select asp-for="Kendaraan.TipeKendaraanID" class="form-control" id="penyedia" required></select>
            </div>
            <div class="form-group col-md-6 col-xs-12">
                <label>No Polisi <span class="text-danger">*</span></label>
                <select asp-for="Kendaraan.TipeKendaraanID" class="form-control vehicle" required></select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
        <button type="submit" class="btn btn-success">Simpan</button>
    </div>
</form>