@model KendaraanCreateVM

@{
    Layout = "_LayoutClient";
    ViewBag.Main = "Penyedia Jasa";
    ViewBag.Category = "Pengangkutan Sampah";
    ViewBag.Title = "Kendaraan";
}

@section styles {
    <link rel="stylesheet" media="screen, print" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" media="screen, print" href="~/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" media="screen, print" href="~/css/formplugins/dropzone/dropzone.css">
    <link rel="stylesheet" media="screen, print" href="~/css/addon.css" />
}

<div class="row">
    <div class="col-md-6 col-xs-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr bg-primary-700 bg-success-gradient" role="heading">
                <h2>Isi Data Kendaraan</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <form id="clientform" action="/clients/jasa/angkutan/kendaraan/store" method="post">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="UID" asp-for="UID" />                      
                        <input type="hidden" id="stnkadded" />
                        <input type="hidden" id="kiradded" />
                        <input type="hidden" id="fotoadded" />
                        <input type="hidden" id="emisiadded" />
                        <div class="form-group">
                            <label for="">No Polisi <span class="text-danger">*</span></label>
                            <input type="text" asp-for="Kendaraan.NoPolisi" id="vehicleID" class="form-control" placeholder="Masukan No. Polisi" required autofocus autocomplete="off" >
                            <span asp-validation-for="Kendaraan.NoPolisi" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="">No Pintu <span class="text-danger">*</span></label>
                            <input type="text" asp-for="Kendaraan.NoPintu" id="doorID" class="form-control" placeholder="Masukan No. Pintu" required autocomplete="off" >
                            <span asp-validation-for="Kendaraan.NoPintu" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="">Jenis Kendaraan *</label>
                            <select asp-for="Kendaraan.JenisKendaraanId" id="vehicleType" class="form-control" required></select>
                            <span asp-validation-for="Kendaraan.JenisKendaraanId" class="text-danger"></span>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4 col-xs-12">
                                <label for="">Masa Berlaku STNK <span class="text-danger">*</span></label>
                                <div class="input-group flex-nowrap">
                                    <input type="text" asp-for="TglBerlakuSTNK" id="tglSTNK" class="form-control datepicker" required autocomplete="off" >
                                    <div class="input-group-append">
                                        <span class="input-group-text fs-xl">
                                            <i class="fal fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4 col-xs-12">
                                <label for="">Masa Berlaku KIR <span class="text-danger">*</span></label>
                                <div class="input-group flex-nowrap">
                                    <input type="text" asp-for="TglBerlakuKIR" id="tglKIR" class="form-control datepicker" required autocomplete="off" >
                                    <div class="input-group-append">
                                        <span class="input-group-text fs-xl">
                                            <i class="fal fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4 col-xs-12">
                                <label for="">Tahun Pembuatan <span class="text-danger">*</span></label>
                                <input type="number" asp-for="Kendaraan.TahunPembuatan" class="form-control" required autocomplete="off" />
                            </div>
                        </div>

                        <hr style="border-top: 1px dotted grey;">

                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-success">Submit Data</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div id="panel-1" class="panel">
                    <div class="panel-hdr bg-primary-700 bg-warning-gradient" role="heading">
                        <h2>Upload Dokumen STNK</h2>
                    </div>
                    <div class="panel-container show">
                        <div class="form-group">
                            <div id="stnk" class="dropzone needsclick" style="min-height: 7rem;">
                                <div class="dz-message needsclick">
                                    <i class="fal fa-cloud-upload text-muted mb-3"></i> <br>
                                    <span>Drop file disini atau Klik Untuk Upload.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div id="panel-2" class="panel">
                    <div class="panel-hdr bg-primary-700 bg-warning-gradient" role="heading">
                        <h2>Upload Dokumen KIR</h2>
                    </div>
                    <div class="panel-container show">
                        <div class="form-group">
                            <div id="kir" class="dropzone needsclick" style="min-height: 7rem;">
                                <div class="dz-message needsclick">
                                    <i class="fal fa-cloud-upload text-muted mb-3"></i> <br>
                                    <span>Drop file disini atau Klik Untuk Upload.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div id="panel-3" class="panel">
                    <div class="panel-hdr bg-primary-700 bg-warning-gradient" role="heading">
                        <h2>Upload Foto Kendaraan</h2>
                    </div>
                    <div class="panel-container show">
                        <div class="form-group">
                            <div id="foto" class="dropzone needsclick" style="min-height: 7rem;">
                                <div class="dz-message needsclick">
                                    <i class="fal fa-cloud-upload text-muted mb-3"></i> <br>
                                    <span>Drop file disini atau Klik Untuk Upload.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div id="panel-4" class="panel">
                    <div class="panel-hdr bg-primary-700 bg-warning-gradient" role="heading">
                        <h2>Upload Bukti Uji Emisi</h2>
                    </div>
                    <div class="panel-container show">
                        <div class="form-group">
                            <div id="ujiemosi" class="dropzone needsclick" style="min-height: 7rem;">
                                <div class="dz-message needsclick">
                                    <i class="fal fa-cloud-upload text-muted mb-3"></i> <br>
                                    <span>Drop file disini atau Klik Untuk Upload.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

@section scripts {
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/js/formplugins/dropzone/dropzone.js"></script>    
    <script src="~/js/pages/jasa/angkutan/create.js"></script>
}