@model LokasiAngkutCreateVM

@{
    Layout = "_LayoutClient";
    ViewBag.Main = "Penyedia Jasa";
    ViewBag.Category = "Pengangkutan Sampah";
    ViewBag.Parent = "Perizinan";
    ViewBag.Title = "Lokasi Angkut";
}

@section styles {
    <link rel="stylesheet" media="screen, print" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" media="screen, print" href="~/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" media="screen, print" href="~/css/formplugins/dropzone/dropzone.css">
    <link rel="stylesheet" media="screen, print" href="~/css/addon.css" />
}

<form id="locationForm" asp-action="Store" asp-controller="LokasiAngkut" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr bg-primary-700 bg-success-gradient" role="heading">
                    <h2>Isi Data Lokasi</h2>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">                        
                        <input type="hidden" asp-for="LokasiAngkut!.NamaLokasi" id="LocName" />
                        <div class="form-group">
                            <label for="">Nama Lokasi/Gedung/Kawasan *</label>
                            <select asp-for="LokasiAngkut!.KawasanID" class="form-control sLokasi" >
                                @if (Model.LokasiAngkut!.NamaLokasi! != null)
                                {
                                    <option value="@Model.LokasiAngkut.KawasanID">@Model.LokasiAngkut.NamaLokasi</option>
                                }
                            </select>
                            <span asp-validation-for="LokasiAngkut!.KawasanID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="">Kota / Kabupaten Administrasi *</label>
                            <input type="text" asp-for="NamaKota" id="CityName" class="form-control" readonly />
                            <span asp-validation-for="NamaKota" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="">Kecamatan *</label>
                            <input type="text" asp-for="NamaKecamatan" id="DistrictName" class="form-control" readonly />
                            <span asp-validation-for="NamaKecamatan" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="">Kelurahan *</label>
                            <input type="text" asp-for="NamaKelurahan" id="KelurahanName" class="form-control" />
                            <span asp-validation-for="NamaKelurahan" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label for="">Alamat *</label>
                            <input type="text" asp-for="Alamat" id="Alamat" class="form-control" readonly />
                            <span asp-validation-for="Alamat" class="text-danger"></span>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">        
            <div id="panel-2" class="panel">
                <div class="panel-hdr bg-primary-700 bg-warning-gradient" role="heading">
                    <h2>Dokumen Kerjasama</h2>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="form-group">
                            <label for="">Tanggal Awal Kontrak *</label>
                            <div class="input-group flex-nowrap">
                                <input type="text" asp-for="TglAwal" id="ContractStartDate" class="form-control datepicker" autocomplete="off">
                                <div class="input-group-append">
                                    <span class="input-group-text fs-xl">
                                        <i class="fal fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                            <span asp-validation-for="TglAwal" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="">Tanggal Berakhir Kontrak *</label>
                            <div class="input-group flex-nowrap">
                                <input type="text" asp-for="TglAkhir" id="ContractEndDate" class="form-control datepicker" autocomplete="off">
                                <div class="input-group-append">
                                    <span class="input-group-text fs-xl">
                                        <i class="fal fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                            <span asp-validation-for="TglAkhir" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Upload Dokumen Kontrak <span class="text-danger">*</span></label>
                            <input type="file" asp-for="FileDokumen" class="form-control" />
                            <span asp-validation-for="FileDokumen" class="text-danger"></span>
                        </div>

                        <hr style="border-top: 1px dotted grey;">

                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-success">Submit Data</button>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</form>
@section scripts {
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/js/formplugins/dropzone/dropzone.js"></script>
    <script src="~/js/address.js"></script>
    <script src="~/pages/angkutan/locationcreate.js"></script>
}