@model RegAngkutModel

@{
    Layout = "_LayoutClient";
    ViewBag.Main = "Penyedia Jasa";
    ViewBag.Category = "Pengangkutan Sampah";
    ViewBag.Parent = "Perizinan";
    ViewBag.Title = "Daftar Izin PTSP";
}


@section styles {
    <link rel="stylesheet" media="screen, print" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/css/datagrid/datatables/datatables.bundle.css" />
    <link rel="stylesheet" media="screen, print" href="~/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" media="screen, print" href="~/css/addon.css" />
}

<div class="row">
    <div class="col-xl-5">
        <div id="panel-1" class="panel">
            <div class="panel-hdr bg-primary-700 bg-success-gradient" role="heading">
                <h2>Perizinan &amp; Data</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <form id="clientform" asp-controller="IzinAngkut" asp-action="SaveIzinAngkut" method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="IzinAngkut.IzinAngkutID">
                        <div asp-validation-summary="All"></div>
                        @Html.AntiForgeryToken()
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="">No. Izin Usaha yang diterbitkan oleh PTSP <span class="text-danger">*</span></label>
                                <input type="text" asp-for="IzinAngkut.NoIzinUsaha" class="form-control datainput" placeholder="No. Izin Usaha" required autocomplete="off">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Lokasi Terbit Izin <span class="text-danger">*</span></label>
                                <select asp-for="IzinAngkut.LokasiIzinID" class="form-control sTerbitIzin s2"></select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 col-xs-12">
                                <label>Lokasi Pembuangan <span class="text-danger">*</span></label>
                                <select asp-for="IzinAngkut.LokasiBuangID" class="form-control sLokasiBuang s2"></select>
                            </div>
                            <div class="form-group col-md-6 col-xs-12">
                                <label for="">Jumlah Kendaraan Berizin <span class="text-danger">*</span></label>
                                <input type="number" asp-for="IzinAngkut.JmlAngkutan" min="1" class="form-control jmlAngkut" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 col-xs-12">
                                <label for="">Tanggal Penerbitan Izin <span class="text-danger">*</span></label>
                                <div class="input-group flex-nowrap">
                                    <input type="text" asp-for="TglAwal" id="txtTglTerbit" class="form-control datepicker datainput" required autocomplete="off" />
                                    <div class="input-group-append">
                                        <span class="input-group-text fs-xl">
                                            <i class="fal fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-xs-12">
                                <label for="">Masa Berakhir Izin <span class="text-danger">*</span></label>
                                <div class="input-group flex-nowrap">
                                    <input type="text" asp-for="TglAkhir" id="tglAkhirIzin" class="form-control datepicker datainput" required autocomplete="off">
                                    <div class="input-group-append">
                                        <span class="input-group-text fs-xl">
                                            <i class="fal fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            @*<div class="form-group col-md-4 col-xs-12">
                            <label for="">No. Induk Berusaha (NIB) *</label>
                            <input type="text" asp-for="DetailAngkut.NIB" class="form-control" required autocomplete="off" >
                            </div>*@
                        </div>
                        <hr style="border-top: 1px dotted grey;">

                        <div class="form-group">
                            <label>Upload Dokumen Izin <span class="text-danger">*</span></label>
                            <input asp-for="FileIzin" type="file" class="form-control dokumen" accept="application/pdf, image/*" />
                        </div>

                        <hr style="border-top: 1px dotted grey;">

                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-success">Tambah Izin</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-7">
        <div id="panel-2" class="panel">
            <div class="panel-hdr bg-primary-700 bg-warning-gradient" role="heading">
                <h2>Daftar Perizinan</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <table id="tblData" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>No Izin Usaha</th>
                                <th>Jml Kendaraan</th>
                                <th>Masa Berakhir</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        @*<div class="text-right">
            <a id="nextBtn" asp-action="Index" asp-controller="Home" class="btn btn-danger">Berikutnya</a>
        </div>*@
    </div>
</div>

@section scripts {
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/js/pages/auth/regangkut.js"></script>
}