@model JenisIzinLingkungan

<form asp-action="Store" asp-controller="JenisIzinLingkungan" method="post">
    <input type="hidden" asp-for="JenisIzinLingkunganID" />
    <div class="modal-header bg-primary-700 bg-success-gradient">
        @if (Model.JenisIzinLingkunganID == 0)
        {
            <h4 class="modal-title">Tambah Jenis Izin Lingkungan</h4>
        }
        else
        {
            <h4 class="modal-title">Edit Jenis Izin Lingkungan</h4>
        }

        <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">        
        <div class="form-group">
            <label>Nama Jenis Izin</label>
            <input type="text" asp-for="NamaJenisIzin" class="form-control" placeholder="Isi nama jenis izin..." autocomplete="off" />
            <span asp-validation-for="NamaJenisIzin" class="text-danger"></span>
        </div>
        @*<div class="form-group">
                <div class="custom-control custom-checkbox custom-checkbox-circle">
                    <input type="checkbox" asp-for="Active" class="custom-control-input" id="chkActive" />
                    <label class="custom-control-label" for="chkActive">Aktif</label>
                </div>
            </div>*@
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
        <button type="submit" class="btn btn-success">Simpan</button>
    </div>
</form>