.totalText {
    font-size: 16pt;
    font-weight: bold;
    margin-right: 50px;
}

.recapText {
    font-size: 16pt;
    font-weight: bold;
}

.ilang {
    display: none;
}

.canvas-holder {
    width: 100%;
}
