@model SharedLibrary.Entities.Transportation.TipeKendaraan

<form action="/master/kendaraan/jenis/save" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="TipeKendaraanID" />
    <div class="modal-header bg-primary-700 bg-success-gradient">
        @if (Model.TipeKendaraanID == 0)
        {
            <h4 class="modal-title">Tambah Jenis kendaraan</h4>
        }
        else
        {
            <h4 class="modal-title">Edit Jenis kendaraan</h4>
        }

        <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Kode</label>
            <input type="text" asp-for="Kode" class="form-control" placeholder="Isi Kode..." autocomplete="off" autofocus />
            <span asp-validation-for="Kode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Nama Jenis Kendaraan</label>
            <input type="text" asp-for="NamaTipe" class="form-control" placeholder="Isi nama jenis kendaraan..." autocomplete="off" />
            <span asp-validation-for="NamaTipe" class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
        <button type="submit" class="btn btn-success">Simpan</button>
    </div>
</form>