@{
	Layout = "_LayoutPublic";
	ViewBag.Title = "Jasa Pengangkutan Sampah";
}

<!-- Page Title ============================================= -->
<section id="page-title">

	<div class="container clearfix">
		<h1>@ViewBag.Title</h1>
		<span>Keterangan tentang @ViewBag.Title</span>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Beranda</a></li>
			<li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
		</ol>
	</div>

</section><!-- #page-title end -->


<!-- Content ============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="container w-50-sm">

			<div class="row col-mb-50">
				<div class="col-12">
					<p>Pelaksanaan pengangkutan residu sampah dari usaha dan/atau kegiatan serta kawasan telah diatur dalam Peraturan Daeran Nomor 3 tahun 2020. Sebagaimana tercantum pada Pasal 36 ayat (2) yang berbunyi “Pengangkutan residu sampah kawasan dari TPS dan/atau TPS 3R kawasan sebagaimana dimaksud pada ayat (1), ke TPST menjadi kewajiban penanggung jawab dan/atau pengelola kawasan dan dapat dikerjasamakan dengan badan usaha di bidang kebersihan”.</p>
					<p></p>

					<p>Dalam melaksanakan kegiatan pengangkutan sampah, badan usaha yang melakukan usaha pengangkutan sampah wajib memiliki izin usaha pelayanan angkutan di bidang kebersihan. Jenis izin yang diterbitkan sesuai dengan Peraturan Gubernur Nomor 47 Tahun 2017 tentang Petunjuk Pelaksanaan Pelayanan Terpadu Satu Pintu, adapun jenis izin pengangkutan sampah yaitu Izin Usaha Pelayanan Angkutan di Bidang Kebersihan.</p>
					<p>Mekanisme perolehan Izin Usaha didaftarkan melalui Unit Pengelola Penanaman Modal dan Pelayanan Terpadu Satu Pintu Kota (UP PMPTSP Kota). Adapun formulir dan kelengkapan dokumen sesuai dengan ketentuan yang diatur oleh UP PMPTSP Kota. Setelah berkas administrasi dinyatakan lengkap dan lolos verifikasi, maka dilanjutkan dengan pengecekan kendaraan angkutan yang diajukan dalam proses permohonan izin. Dalam pelaksanaan pengecekan kendaraan, dilakukan bersama-sama oleh Tim Teknis Bersama yang terdiri dari unsur UP PMPTSP Kota dan Dinas Lingkungan Hidup. Izin akan diterbitkan apabila telah memenuhi persyaratan administrasi dan hasil pemeriksaan kendaraan telah disetujui atau dinyatakan sesuai persyaratan teknis oleh Tim Teknis Bersama.</p>

					<img src="~/web/images/alur_jasa.png" alt="Gambaran Alur" class="rounded" />

					<p></p>Dalam pelaksanaan pengecekan kendaraan angkutan, dilakukan pemeriksaan kesesuaian persyaratan teknis kendaraan yang diatur dalam SK Kepala Dinas Lingkungan Hidup Nomor 374 Tahun 2017 tentang Persyaratan Teknis Izin Usaha Pengelolaan Sampah. Adapun persyaratan teknis izin dimaksud antara lain :

                    <p>
                    <ol start="1" type="1" class="ml-3">
                        <li>Pemohon wajib berbadan usaha.</li>
                        <li>Jenis sarana pengangkutan sampah (truk sampah) yang diizinkan membuang ke TPST Bantargebang :
                            <ul class="first ml-3">
                            <li>Arm Roll Truck (kapasitas 6 m3  hingga 10 m3)</li>
                            <li>Dump Truck (kapasitas 6 m3    hingga  14 m3)</li>
                            <li>Compactor (kapasitas 6 m3 hingga  10 m3)</li>
                        </ul>
                        </li>
                        <li>Truk angkutan sampah wajib lulus uji kelayakan kendaraan (KIR)</li>
                        <li>Bak truk sampah tidak bocor, memiliki tanggul penahan air lindi/leachate pada bak bagian belakang dan terbuat dari bahan yang tahan korosif. </li>
                        <li>Memiliki bak penampung air lindi (leachate):
                            <ul class="first ml-3">
                            <li>Bahan  terbuat dari plat besi atau sejenisnya.</li>
                            <li>Dimensi dan model disesuaikan dengan kebutuhan.</li>
                            <li>Pipa atau selang penyambung menggunakan bahan yang kuat dan tahan bocor.</li>
                        </ul>
                        </li>
                        <li>Umur truk sampah pada saat pendaftaran maksimal 6 tahun, dengan masa berlaku izin minimal 1 tahun dan maksimal 3 tahun :</li>
                        <div></div>
                            <table class="col-12 col-lg-8 my-3 table-bordered">
                            <tbody>
                                <tr>
                                    <td>No</td>
                                    <td>Umur Kendaraan (Truk Sampah)</td>
                                    <td>Masa Berlaku Izin</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>0 – 4 tahun</td>
                                    <td>Maks. 3 tahun</td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>5 tahun</td>
                                    <td>Maks. 2 tahun</td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>6 tahun</td>
                                    <td>aks. 1 tahun</td>
                                </tr>
                            </tbody>
                        </table>
                        <li>Domisili perusahaan berada di Provinsi DKI Jakarta. </li>
                        <li>STNK truk sampah sesuai dengan domisili perusahaan atau berada di wilayah hukum Polda Metro Jaya.</li>
                        <li>STNK atas nama pemohon atau diperbolehkan bukan atas nama pemohon dengan melampirkan surat pernyataan penguasaan kendaraan dan surat perjanjian kerja sama antara pemohon dengan pemilik kendaraan.</li>
                        <li>Menggunakan atribut khusus berupa stiker yang mudah dilihat (kaca depan kendaraan) yang menunjukan identitas Perusahaan dan nomor pintu kendaraan dengan format abjad singkatan nama perusahaan dilanjutkan dengan nomor urut kendaraan (contoh desain dan standar dimensi terlampir). Perusahaan tidak diperkenankan memasang atribut Pemerintah Provinsi DKI Jakarta dan atau Dinas Lingkungan Hidup Provinsi DKI Jakarta pada kendaraannya.</li>
                        <li>Truk sampah dilengkapi dengan Alat Global Positioning System (GPS) dan memberikan akses login kepada Dinas Lingkungan Hidup Provinsi DKI Jakarta.</li>
                        <li>Truk sampah dilengkapi jaring dan terpal serta dilengkapi Alat Pelindung Diri (APD) untuk supir dan kru.</li>
                        <li>Perusahaan wajib menyediakan lahan parkir truk sampah sesuai dengan jumlah kendaraan yang dimiliki disertai surat yang membuktikan ketersediaan lahan parkir dan foto lokasi lahan parkir truk sampah.</li>
                    </ol>
                    </p>


				</div>
			</div>

		</div>
	</div>
</section><!-- #content end -->
