@{
    Layout = "_LayoutPublic";
    ViewBag.Title = "Jasa Pengolahan Sampah";
}

<!-- Page Title ============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <h1>@ViewBag.Title</h1>
        <span>Keterangan tentang @ViewBag.Title</span>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Beranda</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </div>

</section><!-- #page-title end -->
<!-- Content ============================================= -->
<section id="content">
    <div class="content-wrap">
        <div class="container w-50-sm">

            <div class="row col-mb-50">
                <div class="col-12">
                    <p>Dalam melaksanakan kegiatan usaha pengolahan sampah, badan usaha yang melakukan usaha pengolahan sampah wajib memiliki izin usaha pengolahan sampah. Jenis izin yang diterbitkan sesuai dengan Peraturan Gubernur Nomor 47 Tahun 2017 tentang Petunjuk Pelaksanaan Pelayanan Terpadu Satu Pintu, adapun jenis izin pengangkutan sampah yaitu Izin Usaha Pengelolaan Sampah.</p>
                    <p>Mekanisme perolehan Izin Usaha didaftarkan melalui Unit Pengelola Penanaman Modal dan Pelayanan Terpadu Satu Pintu Kota (UP PMPTSP Kota). Adapun formulir dan kelengkapan dokumen sesuai dengan ketentuan yang diatur oleh UP PMPTSP Kota. Setelah berkas administrasi dinyatakan lengkap dan lolos verifikasi, maka dilanjutkan dengan pengecekan/survey terhadap lokasi dan teknologi pengolahan sampah yang diajukan dalam proses permohonan izin. Pelaksanaan survey dimaksud dilakukan bersama-sama oleh Tim Teknis Bersama yang terdiri dari unsur UP PMPTSP Kota dan Dinas Lingkungan Hidup. Izin akan diterbitkan apabila telah memenuhi persyaratan administrasi dan hasil survey telah disetujui atau dinyatakan sesuai persyaratan teknis oleh Tim Teknis Bersama.</p>

                    <img src="~/web/images/alur_jasa.png" class="rounded mb-3" alt="Gambaran Alur" />

                    <p>Dalam pelaksanaan survey/pengecekan lokasi dan teknologi pengolahan sampah, dilakukan pemeriksaan kesesuaian persyaratan teknis yang diatur dalam SK Kepala Dinas Lingkungan Hidup Nomor 374 Tahun 2017 tentang Persyaratan Teknis Izin Usaha Pengelolaan Sampah. Adapun persyaratan teknis izin dimaksud antara lain:</p>

                    <ol start="1" type="1" class="ml-3">
                        <li>
                            JA.	Teknologi pengolahan sampah yang diberikan izin berupa :
                            <ul class="ml-3">
                                <li>teknologi pengolahan secara fisik berupa pengurangan ukuran sampah, pemadatan, pemisahan secara magnetis, masa-jenis, dan optik; </li>
                                <li>teknologi pengolahan secara biologi berupa pengolahan secara aerobik dan/atau secara anaerobik seperti proses pengomposan dan/atau biogasifikasi;)</li>
                                <li>teknologi pengolahan secara termal berupa gasifikasi, pirolisis, plasma dan insenerasi; dan </li>
                                <li>pengolahan sampah dengan menggunakan teknologi lain atau gabungan dari beberapa macam teknologi.                                </li>
                            </ul>
                        </li>
                        <li>
                            Persyaratan Umum:
                            <ul class="ml-3">
                                <li>Pemohon wajib berbadan usaha</li>
                                <li>Melampirkan deskripsi dari lokasi kegiatan :</li>
                                <ul class="ml-3">
                                    <li>Tata letak (layout) di lokasi kegiatan </li>
                                    <li>Tata letak (layout) lokasi kegiatan terhadap bangunan sekelilingnya</li>
                                    <li>Papan nama yang mudah terlihat dengan tulisan “Fasilitas Pengolahan Sampah Non B3” yang dipasang pada unit/ bangunan pengolah sampah  </li>
                                </ul>
                                <li>Melampirkan dokumen rencana pengolahan sampah yang menjelaskan jenis, karakteristik, jumlah, komposisi dan asal/sumber sampah yang akan diolah</li>
                                <li>Melampirkan dokumen studi kelayakan</li>
                                <li>Melampirkan dokumen lingkungan (Amdal/UKL-UPL) dan izin lingkungan atau SPPL (Surat Pernyataan Pengelolaan Lingkungan)</li>
                                <li>Umur truk sampah pada saat pendaftaran maksimal 6 tahun, dengan masa berlaku izin minimal 1 tahun dan maksimal 3 tahun :</li>
                                <li>Melampirkan DED/detailed engineering design fasilitas pengolahan sampah</li>
                                <li>Memiliki fasilitas pendukung berupa peralatan/instalasi pengendalian pencemaran lingkungan (air dan/atau udara)</li>
                                <li>Melampirkan Standar Operasional Prosedur (SOP) :</li>
                                <ul class="ml-3">
                                    <li>Tata letak (layout) di lokasi kegiatan </li>
                                    <li>Tata letak (layout) lokasi kegiatan terhadap bangunan sekelilingnya</li>
                                    <li>Papan nama yang mudah terlihat dengan tulisan “Fasilitas Pengolahan Sampah Non B3” yang dipasang pada unit/ bangunan pengolah sampah  </li>
                                </ul>
                                <li>Memiliki Alat Pelindung Diri (APD) untuk petugas</li>
                                <li>Memiliki alat perlengkapan peralatan tanggap darurat</li>
                                <li>Melampirkan Izin Gangguan – Tempat Usaha Berdasarkan Undang-Undang Gangguan (UUG / HO)</li>
                                <li>Memiliki fasilitas pendukung: </li>
                                <ul class="ml-3">
                                    <li>Ruang pemilahan </li>
                                    <li>Bak penampung air lindi</li>
                                </ul>
                            </ul>
                        </li>
                        <li>
                            Persyaratan Khusus
                            <ul class="ml-3">
                                <li>1Teknologi pengolahan secara fisik </li>
                                <ul class="ml-3">
                                    <li>Kapasitas minimal 20 ton/hari atau luas lahan minimal 200 m2  </li>
                                </ul>
                                <li>2Teknologi pengolahan secara biologi</li>
                                <ul class="ml-3">
                                    <li>Kapasitas pengolahan minimal 10 ton/hari atau luas lahan &gt;200 m2 </li>
                                    <li>Wajib memenuhi baku mutu tingkat kebauan </li>
                                    <li>Wajib memenuhi baku mutu air lindi</li>
                                </ul>
                                <li>Teknologi pengolahan secara termal</li>
                                <ul class="ml-3">
                                    <li>Kapasitas pengolahan untuk semua kapasitas </li>
                                    <li>Temperatur pengolahan : </li>
                                    <ul class="ml-3">
                                        <li>Teknologi insinerasi minimal 8000&deg; C</li>
                                        <li>Teknologi pirolisis minimal 4000&deg; C </li>
                                        <li>Teknologi gasifikasi minimal 7000&deg; C</li>
                                        <li>Teknologi plasma minimal 5000&deg; C </li>
                                    </ul>
                                    <li>Wajib memenuhi baku mutu emisi</li>
                                    <li>Wajib memiliki alat pengendali emisi</li>
                                </ul>
                                <li>pengolahan sampah dengan menggunakan teknologi lain atau gabungan dari beberapa macam teknologi</li>
                                <ul class="ml-3">
                                    <li>Kapasitas minimal 20 ton/hari atau luas lahan minimal 200 m2  </li>
                                    <li>Wajib memenuhi persyaratan khusus pada semua jenis teknologi yang digunakan </li>
                                    <li>Memenuhi baku mutu lingkungan </li>
                                </ul>
                            </ul>
                        </li>
                    </ol>

                    <p>Setelah memperoleh Izin Usaha Pengelolaan Sampah, penyedia jasa pengolahan sampah sampah wajib melaporkan izinnya kepada Dinas Lingkungan Hidup Provinsi DKI Jakarta untuk melakukan pendaftaran/registrasi secara online melalui website ini.</p>

                    <p>Penyedia jasa angkutan sampah melalui website ini wajib melakukan :</p>
                    <ol start="1" type="1" class="ml-3">
                        <li>Pendaftaran sebagai penyedia jasa yang teregistrasi</li>
                        <li>Melaporkan kontrak kerjasama pengangkutan sampah dari sumber</li>
                        <li>	Melaporkan hasil kegiatan pengangkutan sampah dari sumber</li>
                    </ol>
                </div>
            </div>

        </div>
    </div>
</section><!-- #content end -->
