@{
	Layout = "_LayoutPublic";
	ViewBag.Title = "Usaha/Kegiatan";
}

<link rel="stylesheet" href="~/css/components/bs-datatable.css" type="text/css" />

<!-- Page Title ============================================= -->
<section id="page-title">

	<div class="container clearfix">
		<h1>@ViewBag.Title</h1>
		<span>Keterangan tentang @ViewBag.Title</span>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Beranda</a></li>
			<li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
		</ol>
	</div>

</section><!-- #page-title end -->
<!-- Content ============================================= -->
<section id="content">
	<div class="content-wrap">

		<div class="container w-50-sm">

			<div class="row">
				<div class="col">
					<p>
						Setiap Kawasan atau Perusahaan diwajibkan untuk melakukan pengelolaan sampah di areanya. Sebagaimana yang tertera pada Perutaran Gubernur Nomor 102 Tahun 2021 Pasal 2 tertulis bahwa :
						<blockquote>
							<p>Setiap penanggung jawab atau pengelola kawasan, dan/ atau Perusahaan, wajib melakukan Pengelolaan Sampah di dalam area dan/atau fasilitas yang menjadi tanggung jawabnya.</p>
							<footer class="blockquote-footer">Perutaran Gubernur Nomor 102 Tahun 2021 Pasal 2</footer>
						</blockquote>
					</p>
					<p style="margin-bottom: 0.5em!important">
						Kawasan yang dimaksud dalam keterangan diatas adalah :
						<ol type="a" class="ml-3">
							<li style="margin-bottom: 0.5em!important">Kawasan Permukiman;</li>
							<li style="margin-bottom: 0.5em!important">Kawasan Komersial; dan</li>
							<li style="margin-bottom: 0.5em!important">Kawasan Industri. </li>
						</ol>
					</p>
					<p>Setiap pengelola Kawasan yang tidak melaksanakan kewajiban Pengelolaan Sampah akan dikenakan sanksi administratif berupa teguran tertulis oleh Dinas Lingkungan Hidup dan akan dipublikasikan di situs yang dikelola oleh Pemerintah Provinsi DKI Jakarta dengan kategori sebagai kawasan atau Perusahaan yang berpotensi mencemarkan lingkungan. Petunjuk teknis mengenai tata cara pelaksanaan sanksi teguran tertulis dan publikasi ditetapkan dengan Keputusan Kelasa Dinas Lingkungan Hidup.</p>
					<p style="margin-bottom: 0.5em!important">Teguaran tertulis dilakukan secara bertahap yaitu :</p>
					<ul type="a" class="ml-3">
						<li style="margin-bottom: 0.5em!important">
							Teguran tertulis pertama selama 14x24 jam. Terhitung sejak diterimanya teguran tertulis pertama dan apabila tidak ditaati maka diberikan teguran
							tertulis kedua;
						</li>
						<li style="margin-bottom: 0.5em!important">
							Teguran tertulis kedua selama 7x24 jam. Terhitung sejak diterimanya teguran tertulis kedua dan apabila tidak ditaati maka diberikan teguran
							tertulis ketiga; dan
						</li>
						<li style="margin-bottom: 0.5em!important">Teguran tertulis ketiga selama 3x24 jam. Terhitung sejak diterimanya teguran tertulis ketiga.</li>
					</ul>

					<ol type="A">
						<li class="ml-3 font-weight-bold">
							PENGURANGAN SAMPAH
							<p class="font-weight-normal" style="margin-bottom: 0.5em!important">Pengelola Kawasan wajib melakukan pengurangan sampah dengan melakukan hal berikut:</p>

							<ol type="1" class="ml-3 font-weight-normal">
								<li>
									Pembatasan Timbulan Sampah
									<ol type="a" class="ml-3">
										<li style="margin-bottom: 0.5em!important">Menyediakan sedikit mungkin kemasan/produk yang menimbulkan Sampah</li>
										<li style="margin-bottom: 0.5em!important">Menghindari penyediaan maupun penggunaan kemasan/produk sekali pakai</li>
										<li style="margin-bottom: 0.5em!important">Menggunakan barang dan/atau kemasan yang dapat didaur ulang dan mudah terurai oleh proses alam</li>
									</ol>
								</li>
								<li>
									Pemanfaatan Kembali Kemasan
									<p>Memanfaatkan produk/kemasan lama untuk fungsi sama atau fungsi yang berbeda dan/atau mengguna ulang bagian dari Sampah yang masih bermanfaat tanpa melalui suatu proses pengolahan terlebih dahulu.</p>
								</li>
								<li>
									Daur Ulang Sampah
									<p>Memanfaatkan Sampah menjadi barang yang berguna setelah melalui proses pengolahan terlebih dahulu.</p>
								</li>
							</ol>
						</li>
						<li class="ml-3 font-weight-bold">
							PENANGANAN SAMPAH
							<p class="font-weight-normal" style="margin-bottom: 0.5em!important">Kemudian pengelola Kawasan wajib melakukan penanganan sampahnya dengan melakukan hal berikut:</p>
							<ol type="1" class="ml-3 font-weight-normal">
								<li>
									Pemilahan Sampah
									<p>Pemilahan sampah adalah melakukan pengelompokan sampah pada wadah sampah yang sesuai dengan jenis sampahnya. Pemilahan sampah terbagi atas pengelompokan Sampah sesuai Wadah Sampah, kriteria teknis Wadah Sampah, dan penyediaan Wadah Sampah.</p>
									<p style="margin-bottom: 0.5em!important">Sampah dikelompokkan kedalam 4 jenis, yaitu:</p>
									<ol type="a" class="ml-3">
										<li style="margin-bottom: 0.5em!important"><span class="font-weight-bold">Mudah Terurai,</span> sampah yang mudah terurai oleh alam. Menggunakan wadah atau label berwarna <span class="badge bg-success text-light">hijau</span> 🍎🍞🥬🍚</li>
										<li style="margin-bottom: 0.5em!important"><span class="font-weight-bold">Daur Ulang,</span> sampah yang pat didaur ulang atau dapat digunakan Kembali. Menggunakan wadah atau label berwarna <span class="badge bg-warning text-light">kuning</span> 📃📚📦</li>
										<li style="margin-bottom: 0.5em!important"><span class="font-weight-bold">B3,</span> sampah yang mengandung bahan berbahaya dan beracun. Menggunakan wadah atau label berwarna <span class="badge bg-danger text-light">merah</span> 💉🔋🧪</li>
										<li><span class="font-weight-bold">Residu,</span> sampah yang tidak dapat diubah atau diolah kembali menjadi bahan yang berguna. Menggunakan wadah atau label berwarna <span class="badge bg-secondary text-light">abu-abu</span> 🚬🧻🦴</li>
									</ol>

									<p>Kriteria teknis dan penyediaan wadah sampah bisa dilihat di Peraturan Gubernur Nomor 102 Tahun 2021.</p>
								</li>
								<li>
									Pengumpulan Sampah
									<p>Pengumpulan Sampah bisa dilakukan dengan melakukan pengumpulan sampah terpilah dari sumber sampah TPS atau TPS 3R secara langsung atau komunal.</p>
									<p>Kriteria dan Penyediaan TPS atau TPS 3R bisa dilihat di Peraturan Gubernur Nomor 102 Tahun 2021.</p>
								</li>
								<li>
									Pengolahan Sampah
									<p>Pengelola kawasan dan/atau Perusahaan Kawasan wajib melakukan Pengolahan Sampah Mudah Terurai dan daur ulang di lokasi sumber, TPS 3R/fasilitas pengolahan sampah kawasan, atau fasilitas Pengolahan Sampah milik Pelaku Usaha Pengelolaan Sampah atau BLUD Pengelola Sampah.</p>
									<p>Pengolahan Sampah dapat dilakukan dengan cara kerja sama dengan 2(dua) perusahaan atau lebih.</p>
								</li>
								<li>
									Pengangkutan Sampah
									<p>Penanggung jawab atau pengelola kawasan, dan/atau Perusahaan melaksanakan pengangkutan sampah. Perusahaan wajib melakukan Pengangkutan Sampah dari TPS dan/atau TPS 3R ke fasilitas pengolahan milik Pelaku Usaha Pengelolaan Sampah atau BLUD Pengelola Sampah.</p>
								</li>
							</ol>
						</li>
					</ol>

					<p>Penanggung jawab atau pengelola kawasan, dan/ atau Perusahaan wajib melakukan registrasi Pengelolaan Sampah dan menyampaikan laporan Pengelolaan Sampah harian pada setiap bulan. Jika tidak melakukan hal berikut maka akan dilakukan pemeriksaan lapangan oleh Dinas Lingkungan Hidup.</p>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<p>Untuk informasi lengkap terkait Pengelola Sampah Kawasan, bisa dilihat di Peraturan Gubernur Nomor 102 Tahun 2021</p>
					<a href="~/documents/Pergub_102_2021.pdf" target="_blank" class="btn btn-success"><i class="icon-file-pdf1"></i> Peraturan Gubernur Nomor 102 Tahun 2021</a>
				</div>
			</div>

		</div>

	</div>
</section><!-- #content end -->