@model SpjVM

<form asp-controller="ReportAngkut" asp-action="StoreSPJ" method="post" class="vehicleForm" enctype="multipart/form-data">
    @Html.AntiForgeryToken()    
    <div class="modal-header bg-primary-700 bg-success-gradient">
        <h4 class="modal-title">Tambah SPJ</h4>
        <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        <div class="form-row">
            <div class="form-group col-md-6 col-xs-12">
                <label>No Polisi <span class="text-danger">*</span></label>
                <select asp-for="SpjAngkut.KendaraanID" class="form-control vehicle" required></select>
            </div>
        
            <div class="form-group col-md-6 col-xs-12">
                <label for="">Tanggal SPJ <span class="text-danger">*</span></label>
                <div class="input-group flex-nowrap">
                    <input type="text" asp-for="TglSpj" class="form-control datepicker" required>
                    <div class="input-group-append">
                        <span class="input-group-text fs-xl">
                            <i class="fal fa-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label><b>Tambah Manifest <span class="text-danger">*</span></b></label>
        </div>
        <div class="form-group">
            <div id="details">
                <div class="row align-items-end mb-3 row0">
                    <div class="col-3">
                        <label>Lokasi Pengangkutan</label>
                        <div class="form-group">
                            <select asp-for="DetailSpjVMs[0].LokasiAngkutID" style="width: 100%" class="form-control sLokasi"
                                    id="sLokasi0" required>
                            </select>
                        </div>

                    </div>
                    <div class="col-3">
                        <label>Tujuan</label>
                        <div class="form-group">
                            <select asp-for="DetailSpjVMs[0].LokasiBuangID" style="width: 100%" class="form-control sTujuan"
                                    id="sTujuan0" required>
                            </select>
                        </div>

                    </div>
                    <div class="col-2">
                        <label>Berat Sampah</label>
                        <input type="text" asp-for="DetailSpjVMs[0].Berat" class="form-control "
                               required />
                    </div>
                    <div class="col-3">
                        <label>Tanggal Pengangkutan</label>
                        <input type="text" asp-for="DetailSpjVMs[0].TglAngkut" class="form-control datepicker"
                               required />
                    </div>
                    <div class="col-1 px-0">
                        <button type="button" class="btn btn-sm btn-danger text-light mb-1 deleteEl" data-item-id="0"><i class="fal fa-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <button type="button" id="tambahEl" class="btn btn-sm btn-primary">Tambah Detail</button>
        </div>
        @*<p id="tambahEl" class="btn btn-sm btn-primary mt-3"
           style="cursor: pointer">
            <u>
                Tambah
                Details
            </u>
        </p>*@
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
        <button type="submit" class="btn btn-success">Simpan</button>
    </div>
</form>